{% extends 'core/base.html' %}
{% block content %}
  <h2>
  <strong> Dashboard</strong>
  <span class="float-right">
    <a href = "{% url 'core:statistics' %}" role="button" class="btn btn-info">Create Event</a>
  </span>
  </h2>
  <hr>
  <br>
  <div class="row">
    {% for Event in Events %}
    <div class="col-lg-4 col-sm-4">
      <div class="card shadow-sm border border-dark">
        <div class="card-body">
          <h2 class="card-title text-center">{{Event.Name}}</h2>
          <hr class="bg bg-danger">
          <p class="card-text text-center">
            <div class="badge badge-light" style ="padding:5px;width:100%;">
              <h6><span class="float-center">{{Event.Start_Date}}</span></h6>
            </div>
            <hr>
            <strong>Tickets Sold </strong> <span class="float-right">{{Event.Tickets_Sold}}</span>
            <hr>
            <strong>Revenue </strong> <span class="float-right">${{Event.Revenue}}</span>
            <hr>
            </p>
            <br>
          <center><a href="{% url 'core:statistics' %}" class="btn btn-danger btn-block">View Statistics</a></center>
        </div>
      </div>
      <br>
    </div>
    <br>
    {% endfor %}
    </div>
{% endblock %}
